    <div class="col s2 m2 l2">
	    <div class="collection">
		    <a class="collection-item waves-effect" href="/blog"><i class="fa fa-clock-o" aria-hidden="true"></i> Recent</a> 
            <a class="collection-item waves-effect" href="/archives"><i class="fa fa-archive" aria-hidden="true"></i> Archives</a> 
            <a class="collection-item waves-effect" href="/atom.xml"><i class="fa fa-rss" aria-hidden="true"></i> Atom RSS</a> 
	    </div>
    </div>