  <div class="fixed-action-btn">
    <a class="btn-floating btn-large orange waves-effect waves-light">
      <i class="large material-icons">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating blue waves-effect waves-light tooltipped" href="/blog" data-position="left" data-delay="50" data-tooltip="Recent Posts"><i class="material-icons">history</i></a></li>
      <li><a class="btn-floating blue waves-effect waves-light tooltipped" href="/archive" data-position="left" data-delay="50" data-tooltip="Archives"><i class="material-icons">archive</i></a></li>
      <li><a class="btn-floating blue waves-effect waves-light tooltipped" href="/atom.xml" data-position="left" data-delay="50" data-tooltip="Atom RSS"><i class="material-icons">rss_feed</i></a></li>
    </ul>
  </div>
