    <div class="col s2 m2 l2">
	    <div class="collection">
		    <a class="collection-item waves-effect" href="/blog">Recent</a> 
            <a class="collection-item waves-effect" href="/archives">Archives</a> 
	    </div>
    </div>