<%- partial('_partial/licensing') %>
<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text"><%= config.title %></h5>
        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum blandit blandit mauris, iaculis gravida neque eleifend eget. Ut lorem urna, aliquet sed laoreet ut, tempor fermentum lacus. Suspendisse eget mauris augue. Donec hendrerit pellentesque velit, sit amet dictum neque imperdiet id.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3 modal-trigger" href="#licensingModal">Licensing Information</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      &copy; 2017 <%= config.author %>. Built with <i class="material-icons red-text"  style="vertical-align: middle;">favorite</i>.
    </div>
  </div>
</footer>