<div class="home-wrapper">
	<div class="container home">
		<div class="row">
			<div class="col s12 m12 l12">
				<div class="card blue about-card">
					<div class="card-image"><img class="img-circle activator" src="/img/gnu.png" style="height:15vmax;width:15vmax;display:block;margin:auto;"></div>
					<h4 class="white-text center-align">Hi! I'm <%- theme.author.alias %>.</h4>
					<%- page.content %>
				</div>
			</div>
		</div>
	</div>
</div>